body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #D8EFD3;
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #95D2B3;
    width: 95%;
    margin: 10px auto;
    height: 75px;
    border-radius: 35px;
    border-bottom: 4px solid #55AD9B;
}

.logo {
    padding-left: 20px;
}

.logo img {
    width: 80px;
    height: auto;
}

.logo img:hover {
    transform: scale(1.1);
    transition: .3s;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 30px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #F1F8E8;
}

nav ul li a:hover {
    text-decoration: underline;
    text-underline-offset: 12px;
    color: #55AD9B;
    transform: scale(1.3);
    transition: .3s;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 30px auto;
}

.text-hero {
    padding-left: 30px;
    color: #F1F8E8;
}

.img-hero img {
    width: 80%;
    border-radius: 60%;
    border-bottom: 5px solid #F1F8E8;
}

.img-hero img:hover {
    transform: scale(.8);
    transition: .3s;
}

#about {
    width: 95%;
    margin: 50px auto;
    background-color: #F1F8E8;
    color: #000000;
    border-radius: 20px;
}

#about h2 {
    color: #95D2B3;
    padding: 30px;
    text-align: center;
}

hr {
    width: 30%;
}

#about p {
    padding: 20px;
}

#product {
	width: 95%;
	margin: 40px auto;
}

#product h1 {
	color: #95D2B3;
	text-align: center;
}

.product-card {
	width: 90%;
	margin: 20px auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card1 {
	width: 250px;
	text-align: center;
	padding: 20px;
	background-color: #F1F8E8;
	border-radius: 40px 0;
	border: 1px solid #55AD9B;
	margin-top: 30px;
    color: #55AD9B;
}

.card1 img {
	width: 100%;
	border-radius: 20px 0;

}

.card1 img:hover {
	transform: scale(.9);

}

.card1 a {
	padding: 10px 20px;
	background-color: 4F2000D;
	color: #55AD9B;
	text-decoration: none; 
	border-radius: 20px 0	;
}

.card1 a:hover {
	background-color: whitesmoke;
	color: #95D2B3;
}

.footer1 {
    text-align: center;
    justify-content: space-between;
    color: #55AD9B;
    background-color: #F1F8E8;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

#contact {
    text-align: center;
    justify-content: space-between;
    color: #55AD9B;
    background-color: #F1F8E8;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
}